<div class="container mt-3">
  <div class="row">
    <% @youbikes.each do |youbike| %>
      <div class="col-sm-4">
        <div class="card mt-4">
          <div class="card-header text-white bg-secondary">
            <%= youbike.sarea %>
          </div>
          <div class="card-body">
            <p class="card-text">場站中文名稱: <%= youbike.sna %></p>
            <p class="card-text">站點代號: <%= youbike.sno_id %></p>
            <p class="card-text">場站總停車格: <%= youbike.tot %></p>
            <p class="card-text">場站目前車輛數量: <%= youbike.sbi %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
